In [55]:
import numpy as np
import numpy.random as random
import scipy as sp
import modin.pandas as pd #多核處裡
from pandas import Series,DataFrame


import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

import ast
import csv

import sklearn
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE

%matplotlib inline

%precision 3

ModuleNotFoundError: No module named 'modin'

In [ ]:
def stringConvert(string, punc):
    index = string.find(punc)
    num = string[1:index]
    return num
def removePercent(s):
    s = float(s[:-1])
    return s

In [ ]:
# merge files
df = pd.DataFrame()
for i in range(1,7):
    globals()["df"+str(i)] = pd.read_csv("./data/AG_PROFILE_201912_FIN_"+str(i)+".csv",encoding='big5',engine='python')
    df = df.append(globals()["df"+str(i)])
df.to_csv('./output.csv')

In [ ]:
df = pd.read_csv('./output.csv')
df.shape #應為391行

In [ ]:
df = df.drop(['Unnamed: 0'],axis = 1)
df.reset_index(drop = True)
df.tail()

In [23]:
num_features=[]
object_features=[]
for dtype,feature in zip(df.dtypes,df.columns):
        if dtype =='int64' or dtype=='float64':
            num_features.append(feature)
        #elif dtype=='object':
        else:
            object_features.append(feature)
            
print(f'{len(num_features)} Numeric Features: ') #{num_features}\n')
print(f'{len(object_features)} Object Featurs: ')#{object_features}\n')

335 Numeric Features:
56 Object Featurs:

In [ ]:
pd.set_option('display.max_columns', None)
df[object_features].head()

In [ ]:
df['CHN_AG_RATE_3M'].str.contains('%').value_counts().index[0] == True

In [ ]:
#labelencoder
df["area_name"] = [stringConvert(i, "_") for i in df.area_name]
df["AG_GP"] =  [stringConvert(i, ".") for i in df.AG_GP]
df["CLASS"] = [stringConvert(i, "_") for i in df.CLASS]

df['office_CITY'] = LabelEncoder().fit_transform(df['office_CITY'])

df['area_name']

In [ ]:
#object feature裡有些是百分比有些是數值
percent_features = object_features[6:]
#df_percent = pd.DataFrame()

for col in percent_features:
    percent_num = df[col].str.contains('%').value_counts().values[0]
    percent_check = df[col].str.contains('%').value_counts().index[0]
    print("percent_num is" , percent_num)
    print("percent_check is", percent_check)
    if(percent_check == True and percent_num  10):
        print(col+' is percent')
        #df_percent[col] = [removePercent(s[1:-1].strip())*(-0.01) if s[0]=='(' else removePercent(s)*0.01 for s in df[col]]
        df[col] = [removePercent(s[1:-1].strip())*(-0.01) if s[0]=='(' else removePercent(s)*0.01 for s in df[col]]
    else:
        print(col+ ' is float')

In [ ]:
df['']

In [ ]:
#處理有混合型態的column
l = [59,60,64,65,81,82,97,101,129,205,211,275]
for c in l :
    for k,v in zip(df[df.columns[c]].index,df[df.columns[c]]):
        if(type(v) != int):
            df[df.columns[c]][k] = int(v.replace(',',''))

In [ ]:
df.to_csv('1421_preprocessed.csv')

In [52]:
#處理剩下的object type的"數字"資料
for col in object_features:
    df[col] = [s.pr for s in df[col]]

SyntaxError: invalid syntax (<ipython-input-52-783816f8b749>, line 3)

In [51]:
df['CLIENT_INCOME'].astype('float64')

ValueError: could not convert string to float: '1,080,000'

In [49]:
df = pd.read_csv('1421_preprocessed.csv',index_col=0)
df.head()

,AGENT_RK,area_name,office_rk,office_CITY,CLASS,AG_GP,AG_AGE,AG_TENURE,SEX,CLIENT_INCOME,...,AHa_CLAIM_POL_CNT2_12M,AHa_CLAIM_POL_RATE_3M,AHa_CLAIM_POL_RATE_6M,AHa_CLAIM_POL_RATE_9M,AHa_CLAIM_POL_RATE_12M,AHa_CLAIM_POL_RATE2_3M,AHa_CLAIM_POL_RATE2_6M,AHa_CLAIM_POL_RATE2_9M,AHa_CLAIM_POL_RATE2_12M,Y
0,1,1,77,2,1,2,50,21,1,"1,080,000",...,16,0.0980,0.1176,0.1569,0.1569,0.0980,0.1569,0.2549,0.3137,0
1,2,5,315,18,1,4,44,11,1,"720,000",...,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0
2,3,5,60,18,1,4,46,26,1,"720,000",...,3,0.1667,0.1667,0.1667,0.1667,0.2500,0.2500,0.2500,0.2500,0
3,4,1,249,2,1,2,63,25,0,"900,000",...,7,0.0206,0.0515,0.0515,0.0619,0.0206,0.0515,0.0515,0.0722,0
4,5,3,347,14,1,4,35,0,1,"1,080,000",...,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0

In [ ]:
#遺漏值尋找
missing = []
num = df.isna().sum()#pd.series type
for k,v  in zip(num.index,num.values):
     if(v > 0):
          print(k,v)  
          missing.append(k)

In [ ]:
df['CLIENT_INCOME'] = df['CLIENT_INCOME'].fillna(df['CLIENT_INCOME'].median)
df['CLIENT_INCOME'].isnull().value_counts()

In [ ]:
for i in missing:
    df[i] = df[i].fillna(-1)

In [ ]:
#確認是否還有遺漏值
num = df.isna().sum()#pd.series type
for k,v  in zip(num.index,num.values):
     if(v > 0):
          print(k,v)

In [ ]:
f_num=df[num_features]


#object_feature
df_temp=pd.DataFrame()
df_obj=df[object_features]
for c in df_obj.columns:#Labelencodeing
    df_temp[c]=LabelEncoder().fit_transform(df_obj[c])


#merge them    
df_num.reset_index(drop=True, inplace=True)
df_temp.reset_index(drop=True, inplace=True)
df_ml=pd.concat([df_temp,df_num_1],axis=1)

In [ ]:
y_train=df['Y']
x_train=df.drop(['Y'],axis = 1)

In [ ]:
sm = SMOTE(random_state=12)
x_res, y_res = sm.fit_sample(x_train,y_train)
print(y_res.value_counts())

In [ ]:
df['CLIENT_INCOME']

In [ ]:
count_class_0, count_class_1 = df['Y'].value_counts()
print("count_class_0",count_class_0)
print("count_class_1",count_class_1)




df_bal['Y'].value_counts().plot(kind='bar', title='Count')

In [ ]:
set(df_all.dtypes)

In [ ]:
df_all[df_all=='NaN'].columns.length()

In [ ]:
col_missing=[]
for col in df_all:
    df_all[col]

In [ ]:
df_all['AGENT_RK'].isnull()

In [ ]:
s ="20.0%"
print(s[:-1])